# Dependencies
node_modules

# Build output
dist

# Environment files
.env
.env.local
.env.*.local

# Git
.git
.gitignore
.gitattributes

# IDE
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*
*.sublime-*

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS
.DS_Store
Thumbs.db

# Documentation
*.md
docs
LICENSE

# Tests
tests

# Config files
.eslintrc.*
eslint.config.*
.prettierrc*
tsconfig.json
rspack.config.js
rspack.config.service.js

# Yarn
.yarn
.yarnrc.yml
.npmrc
.pnp.*

# Misc
*.cmd
*.bat
