.DS_Store
Thumbs.db
node_modules

# Build output
dist/

# Yarn
.yarn/
.pnp.*

# local env files
.env
.env.local
.env.*.local

# Log files
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*
*.sublime-*

# TypeScript
*.tsbuildinfo

# Temp files
/*.cmd
/package-lock.json
/tests/temp

# Cache
cache/
/dist/cache
/dist/public/cache
