$desktop_layout_width: 1280;
$mobile_layout_width: 640;
$base_rem: 24px;

@function d-vw($target) {
  $vw-context: ($desktop_layout_width*.01) * 1px;
  @return ($target/$vw-context) * 1vw;
}

@function m-vw($target) {
  $vw-context: ($mobile_layout_width*.01) * 1px;
  @return ($target/$vw-context) * 1vw;
}

@function rem($target) {
  @return ($target/$base_rem) * 1rem;
}